<script lang="ts">
import { computed, defineComponent } from 'vue';
import VSearch from '@/components/Search.vue';
import TrackList from '@/components/TrackList.vue';
import { useTrackStore } from '@/stores/track';

export default defineComponent({
    name: 'MusicLibrary',
    components: {
        VSearch,
        TrackList,
    },
    setup() {
        const trackStore = useTrackStore();
        trackStore.loadTracksMeta();

        const trackList = computed(() => trackStore.searchedTracks);
        return {
            trackStore,
            trackList,
        };
    },
});
</script>

<template>
    <div class="music-library">
        <v-search class="music-library__search" v-model="trackStore.search" />
        <track-list class="music-library__track-list" :trackList="trackList" />
    </div>
</template>

<style scoped>
.music-library {
    display: grid;
    grid-template-areas:
        'search'
        'track-list';
    gap: 1rem;
}
.music-library__search {
    grid-area: search;
}
.music-library__track-list {
    grid-area: track-list;
}
</style>
