<script lang="ts">
import {
    computed,
    defineComponent,
    ref,
    watch,
    nextTick,
    onMounted,
} from 'vue';
import TrackVolume from '@/components/TrackVolume.vue';
import TrackDuration from '@/components/TrackDuration.vue';
import PlayerControls from '@/components/PlayerControls.vue';
import { MusicPlayerState } from '@/types/enums';
import { useTrackStore } from '@/stores/track';
import { useMusicPlayerStore } from '@/stores/musicPlayer';

export default defineComponent({
    name: 'MusicPlayer',
    components: {
        TrackVolume,
        TrackDuration,
        PlayerControls,
    },
    setup() {
        const audioElement = ref<HTMLAudioElement | null>(null);

        const trackStore = useTrackStore();
        const musicPlayerStore = useMusicPlayerStore();
        const state = computed(() => musicPlayerStore.state);
        const currentFile = computed(() => musicPlayerStore.fileUrl);
        const currentTrackDuration = computed(() => musicPlayerStore.duration);
        const isUpdating = ref(false);

        onMounted(() => {
            musicPlayerStore.audioElement = audioElement.value;
        });

        function pickNext() {
            trackStore.setTrackByDirection('next');
            if (state.value === MusicPlayerState.PLAYING) {
                nextTick(() => {
                    playAudio();
                });
            }
        }

        function pickPrev() {
            trackStore.setTrackByDirection('prev');
            if (state.value === MusicPlayerState.PLAYING) {
                nextTick(() => {
                    playAudio();
                });
            }
        }

        function playAudio() {
            musicPlayerStore.toggleAudio();
        }

        function handleLoadMetaData() {
            if (audioElement.value) {
                musicPlayerStore.volume = audioElement.value.volume * 100;
            }
        }

        function handleTimeUpdate() {
            if (audioElement.value && isUpdating.value === false) {
                musicPlayerStore.currentTime = audioElement.value.currentTime;
            }
        }

        watch(
            () => musicPlayerStore.volume,
            (sliderVal) => {
                if (audioElement.value) {
                    audioElement.value.volume = sliderVal / 100;
                }
            }
        );

        function handleTrackTimeUpdate(time: number) {
            if (audioElement.value) {
                audioElement.value.currentTime = time;
                isUpdating.value = false;
            }
        }

        function handleTrackTimeUpdating() {
            isUpdating.value = true;
        }

        return {
            state,
            musicPlayerStore,
            playAudio,
            audioElement,
            handleLoadMetaData,
            handleTimeUpdate,
            pickNext,
            pickPrev,
            currentFile,
            currentTrackDuration,
            handleTrackTimeUpdate,
            handleTrackTimeUpdating,
        };
    },
});
</script>

<template>
    <div class="music-player">
        <player-controls
            class="music-player__controls"
            @play="playAudio"
            @next="pickNext"
            @prev="pickPrev"
            :state="state"
        />
        <audio
            ref="audioElement"
            @timeupdate="handleTimeUpdate"
            @loadedmetadata="handleLoadMetaData"
            :src="currentFile"
        />
        <track-volume
            class="music-player__volume"
            v-model="musicPlayerStore.volume"
        />
        <track-duration
            class="music-player__duration"
            :duration="currentTrackDuration"
            v-model="musicPlayerStore.currentTime"
            @update="handleTrackTimeUpdate"
            @updating="handleTrackTimeUpdating"
        />
    </div>
</template>

<style scoped>
.music-player {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        'duration volume'
        'controls controls';
}
.music-player__duration {
    grid-area: duration;
}
.music-player__volume {
    grid-area: volume;
}
.music-player__controls {
    grid-area: controls;
    justify-self: center;
}

@media (min-width: 720px) {
    .music-player {
        grid-template-areas: 'controls duration volume';
        grid-template-columns: 1fr 2fr 1fr;
    }
    .music-player__controls {
        grid-area: controls;
        justify-self: start;
    }
}
</style>
