<script lang="ts">
import { MusicPlayerState } from '@/types/enums';
import { defineComponent, computed } from 'vue';
import type { PropType } from 'vue';

export default defineComponent({
    name: 'PlayerControls',
    props: {
        state: {
            type: Object as PropType<MusicPlayerState>,
            default: MusicPlayerState.STOPPED,
        },
    },
    emits: ['prev', 'play', 'next'],
    setup(props, { emit }) {
        function handlePrevButton() {
            emit('prev');
        }
        function handlePlayButton() {
            emit('play');
        }
        function handleNextButton() {
            emit('next');
        }
        const playOrStopEmoji = computed(() =>
            props.state === MusicPlayerState.PLAYING ? '⏹️' : '▶️'
        );
        return {
            handlePrevButton,
            handlePlayButton,
            handleNextButton,
            playOrStopEmoji,
        };
    },
});
</script>

<template>
    <div class="player-controls">
        <button class="player-controls__button" @click="handlePrevButton">
            ⬅️
        </button>
        <button class="player-controls__button" @click="handlePlayButton">
            {{ playOrStopEmoji }}
        </button>
        <button class="player-controls__button" @click="handleNextButton">
            ➡️
        </button>
    </div>
</template>

<style scoped>
.player-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.player-controls__button {
    width: 2rem;
    height: 2rem;
}
</style>
