<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'VSearch',
    props: {
        modelValue: { type: String, default: '' },
    },
    emits: ['update:modelValue'],
    setup(_, { emit }) {
        function handleInput(event: Event) {
            emit('update:modelValue', (event.target as HTMLInputElement).value);
        }

        return {
            handleInput,
        };
    },
});
</script>

<template>
    <div class="search">
        <input
            class="search__input"
            :value="modelValue"
            placeholder="Search for artists or titles"
            @input="handleInput"
        />
    </div>
</template>

<style scoped>
.search {
    font-size: 1.25rem;
}
.search__input {
    font-size: 1.25rem;
}
</style>
