<script lang="ts">
import { defineComponent, computed } from 'vue';
import VSlider from '@/components/Slider.vue';
import { formatTime } from '@/utils';

export default defineComponent({
    name: 'TrackDuration',
    props: {
        modelValue: { type: Number, default: 0 },
        duration: { type: Number, default: 42343 },
    },
    components: {
        VSlider,
    },
    emits: ['update', 'update:modelValue', 'updating'],
    setup(props, { emit }) {
        const sliderValue = computed(() =>
            props.modelValue !== 0
                ? 100 / (props.duration / props.modelValue)
                : 0
        );

        function handleUpdateModelValue(value: number): void {
            emit('update:modelValue', value * 0.01 * props.duration);
        }

        function handleMouseUp(value: number): void {
            emit('update', value * 0.01 * props.duration);
        }

        function handleMouseMove(value: number): void {
            emit('updating', value * 0.01 * props.duration);
        }

        const endTime = computed(() => formatTime(props.duration));
        const formattedCurrentTime = computed(() =>
            formatTime(props.modelValue)
        );

        return {
            handleUpdateModelValue,
            handleMouseUp,
            handleMouseMove,
            endTime,
            formattedCurrentTime,
            sliderValue,
        };
    },
});
</script>

<template>
    <div class="track-duration">
        <span class="track-duration__min">{{ formattedCurrentTime }}</span>
        <v-slider
            :modelValue="sliderValue"
            @update:modelValue="handleUpdateModelValue"
            @mouseup="handleMouseUp"
            @mousemove="handleMouseMove"
        />
        <span class="track-duration__max">{{ endTime }}</span>
    </div>
</template>

<style scoped>
.track-duration {
    position: relative;
    min-height: 3rem;
}
.track-duration__min {
    position: absolute;
    left: 0;
    top: 1.5rem;
}
.track-duration__max {
    position: absolute;
    right: 0;
    top: 1.5rem;
}
</style>
