<script lang="ts">
import { computed, defineComponent } from 'vue';
import type { PropType } from 'vue';

import type { Track } from '@/types';
import { formatTime } from '@/utils';

export default defineComponent({
    name: 'VTrack',
    props: {
        track: { type: Object as PropType<Track>, default: () => ({}) },
        isPlaying: { type: Boolean, default: false },
        isCurrentTrack: { type: Boolean, default: false },
    },
    emits: ['click'],
    setup(props, { emit }) {
        function handleTrackClick() {
            emit('click', props.track);
        }

        const computedClass = computed(() => {
            let klass = '';
            props.isCurrentTrack && (klass = 'track--current');
            props.isPlaying && (klass = 'track--active');
            return klass;
        });
        const formattedDuration = computed(() =>
            formatTime(props.track.duration)
        );

        return {
            handleTrackClick,
            computedClass,
            formattedDuration,
        };
    },
});
</script>

<template>
    <div class="track" :class="computedClass" @click="handleTrackClick">
        <h3 class="track__artist">
            {{ track.artist }}
        </h3>
        <div class="track__title">
            {{ track.title }}
        </div>
        <div class="track__duration">
            {{ formattedDuration }}
        </div>
    </div>
</template>

<style scoped>
.track {
    --color-track-current-background: var(--color-extra);
    --color-track-current-text: var(--color-text-inv);
    --color-track-active-background: var(--color-main);
    --color-track-active-text: var(--color-text-inv);
    display: grid;
    padding: 0.2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    grid-template-areas:
        'artist duration'
        'title duration';
}
.track--active {
    background: var(--color-track-active-background);
    color: var(--color-track-active-text);
}
.track--current {
    background: var(--color-track-current-background);
    color: var(--color-track-current-text);
}
.track__artist {
    grid-area: artist;
}
.track__title {
    grid-area: title;
}
.track__duration {
    grid-area: duration;
    align-self: center;
    justify-self: end;
}
@media (min-width: 720px) {
    .track {
        grid-template-areas: 'artist title duration';
    }
    .track__duration {
        align-self: stretch;
    }
}
</style>
