<script lang="ts">
import { defineComponent } from 'vue';
import VSlider from '@/components/Slider.vue';

export default defineComponent({
    name: 'TrackVolume',
    props: {
        modelValue: { type: Number, default: 0 },
    },
    components: {
        VSlider,
    },
    emits: ['update:modelValue'],
    setup(_, { emit }) {
        function handleModelValue(sliderVal: number) {
            emit('update:modelValue', sliderVal);
        }
        return {
            handleModelValue,
        };
    },
});
</script>

<template>
    <div class="track-volume">
        <span class="track-volume__min">{{ Math.floor(modelValue) }}</span>
        <v-slider
            :modelValue="modelValue"
            @update:modelValue="handleModelValue"
        />
        <span class="track-volume__max">100</span>
    </div>
</template>

<style scoped>
.track-volume {
    position: relative;
    min-height: 3rem;
}
.track-volume__min {
    position: absolute;
    left: 0;
    top: 1.5rem;
}
.track-volume__max {
    position: absolute;
    right: 0;
    top: 1.5rem;
}
</style>
