<script lang="ts">
import { defineComponent, nextTick, type PropType } from 'vue';
import VTrack from '@/components/Track.vue';
import { useMusicPlayerStore } from '@/stores/musicPlayer';
import { MusicPlayerState } from '@/types/enums';

import type { Track } from '@/types';

export default defineComponent({
    name: 'TrackList',
    props: {
        trackList: { type: Array as PropType<Array<Track>>, default: () => [] },
    },
    components: {
        VTrack,
    },
    setup() {
        const musicPlayerStore = useMusicPlayerStore();
        function handleTrackClick(track: Track) {
            let prevTrack = musicPlayerStore.currentTrack;
            musicPlayerStore.currentTrack = track;
            if (
                musicPlayerStore.state === MusicPlayerState.PLAYING &&
                prevTrack?.file === track.file
            ) {
                nextTick(() => {
                    musicPlayerStore.stopAudio();
                });
            } else {
                nextTick(() => {
                    musicPlayerStore.playAudio();
                });
            }
        }

        function isCurrentTrack(track: Track) {
            return musicPlayerStore.currentTrack?.file === track.file;
        }

        function isPlaying(track: Track) {
            return (
                isCurrentTrack(track) &&
                musicPlayerStore.state === MusicPlayerState.PLAYING
            );
        }

        return {
            handleTrackClick,
            isCurrentTrack,
            isPlaying,
        };
    },
});
</script>

<template>
    <ul class="track-list">
        <li v-for="track in trackList" :key="track.file">
            <v-track
                :isCurrentTrack="isCurrentTrack(track)"
                :isPlaying="isPlaying(track)"
                :track="track"
                @click="handleTrackClick"
            />
        </li>
    </ul>
</template>

<style scoped>
.track-list {
    list-style-type: none;
    padding: 0;
    max-height: 70vh;
    overflow: auto;
}
</style>
