/* color palette from <https://github.com/vuejs/theme> */
:root {
    --color-main: rgb(106, 90, 205);
    --color-accent: rgb(60, 179, 113);
    --color-text: black;
    --color-text-inv: white;
    --color-extra: rgba(100,100,100);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}
html {
  height: 100%;
}
body {
    min-height: 100vh;
    height: 100%;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
