<script setup lang="ts">
import MainLayout from '@/layouts/MainLayout.vue';
import MusicPlayer from '@/components/MusicPlayer.vue';
import MusicLibrary from './components/MusicLibrary.vue';
</script>

<template>
    <main-layout>
        <div class="main-grid">
            <music-player class="main-grid__player" />
            <music-library class="main-grid__library" />
        </div>
    </main-layout>
</template>

<style>
@import './assets/base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    min-height: 100%;
    padding: 1rem;
    height: 100%;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
</style>

<style scoped>
.main-grid {
    display: grid;
    grid-template-areas:
        'library'
        'player';
    gap: 2rem;
}
.main-grid__player {
    grid-area: player;
}
.main-grid__library {
    grid-area: library;
}
@media (min-width: 720px) {
    .main-grid {
        display: grid;
        grid-template-areas:
            'player'
            'library';
    }
}
</style>
