<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'MainLayout',
});
</script>

<template>
    <header>Audio player</header>
    <main class="main">
        <slot />
    </main>
    <footer>Made by <a href="https://github.com/moody-person">me</a></footer>
</template>

<style scoped></style>
